<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/css/base.css">
    <title>过滤器</title>
</head>
<body>
<div id="app">
    <h3>单位换算</h3>
    <div>
        <input type="number" v-model="length" placeholder="请输入数值">mm  =
        <span>{{length | meter}}</span>
    </div>
    <div>
        <input type="number" v-model="money" placeholder="请输入数值">元 =
        <span>{{money | change("USD")}}</span>
    </div>
</div>
<script src="../lib/js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>